{% extends "auctions/layout.html" %}

{% block body %}

  <h2 class="blue-text">Your Listings</h2>
  <h5 title="add listing" class="plus-container">
    <a class="btn btn-outline-success plus-link" href="{% url 'auctions:add_listing' %}">+ Add new Listing</a>
  </h5>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  {% if listings %}
  <ul class="listings">
    {% for listing in listings %}
    <li>
      <div class="card">
        <div class="card-header">
          {{ listing.name }}
          {% ifequal listing.user user %}
          <div class="owned-icon" title="You Own This Listing">
            ★
          </div>
          {% endifequal %}
        </div>
        <div class="card-body">
          <img alt="{{ listing.name }} - img" src="{{ listing.image.url }}" height="170" />
          <h5 class="list-cost">Bid Starts From: <strong>${{ listing.initial }}</strong> </h5>
          <h5> Category: <strong style="color: var(--gray)">{{ listing.category }}</strong> </h5>
          <div class="links-box">
            <a class="btn btn-outline-primary" href="{% url 'auctions:listing' listing.id %}">View Listing</a>
            <a class="btn btn-outline-success" href="{% url 'auctions:add_to' listing.id %}">Add to WatchList</a>
            {% ifequal listing.user user %}
            <a class="btn btn-outline-danger" href="{% url 'auctions:close_listing' listing.id %}">Close Listing</a>
            {% endifequal %}
          </div>
          <h6 class="text-muted right-align">Date added: {{ listing.created }}</h6>
        </div>
      </div>
    </li>
    {% endfor %}
    <li class="card card-header bg-info">
      <div style="text-align: center; color: white;"> --- END --- </div>
    </li>
  </ul>
  {% else %}
  <div class="alert alert-info">
    You don't currently possess any active listings.
  </div>
  {% endif %}

{% endblock %}
